<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Company Admin</title>

  <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/main.css">

  <script src="/vendor/nano_widget.min.es5.js"></script>
  <script src="/js/app/sidebar.js"></script>
  <script src="/js/app/user_tile.js"></script>
  <script src="/js/app/content.js"></script>
  <script src="/js/app/app.js"></script>
  <script src="/js/index.js"></script>

</head>
<body>
</body>
</html>
